<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <% include ../partials/header %>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
              <form action="/users/new" method="post">


                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <label class="mdl-textfield__label" for="name">Name:</label>
                  <input type="text" class="mdl-textfield__input" id="name" name="name">
                </div>
                  <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <label class="mdl-textfield__label" for="email">Email:</label>
                  <input type="email" class="mdl-textfield__input" id="email" name="email">
                </div>
                  <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <label class="mdl-textfield__label" for="pwd">Password:</label>
                  <input type="password" class="mdl-textfield__input" id="pwd" name="password">
                </div>
                  <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <label class="mdl-textfield__label" for="password_confirmation">Password confirmation:</label>
                  <input type="password" class="mdl-textfield__input" id="password_confirmation" name="password_confirmation">
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <label class="mdl-textfield__label" for="password_confirmation">Country</label>
                  <input type="text" class="mdl-textfield__input" id="country" name="country">
                </div>
                  <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <label class="mdl-textfield__label" for="password_confirmation">City</label>
                  <input type="text" class="mdl-textfield__input" id="city" name="city">
                </div>
                  <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <label class="mdl-textfield__label" for="password_confirmation">Skills</label>
                  <input type="text" class="mdl-textfield__input" id="skills" name="skills">
                </div>
                  <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <label class="mdl-textfield__label" for="password_confirmation">Resources</label>
                  <input type="text" class="mdl-textfield__input" id="resources" name="resources">
                </div>
                  <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <label class="mdl-textfield__label" for="pwd">Languages</label>
                  <input type="text" class="mdl-textfield__input" id="languages" name="languages">
                </div>
                  <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <label class="mdl-textfield__label" for="phone">Phone</label>
                  <input type="text" class="mdl-textfield__input" id="phone" name="phone">
                </div>
                  <br>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <label class="mdl-textfield__label" for="phone">Comments</label>
                  <input type="text" class="mdl-textfield__input" id="comments" name="comments">
                </div>
                  <br>

                  <p>
                    <input type="checkbox" id="test5" />
                    <label for="filled-in-box">Send me mail about emergencies</label>
                  </p>
                  <p>
                    <input type="checkbox" id="test5" />
                  <label for="filled-in-box"><b>Contact me by phone (SMS) for nearby and urgent emergencies </b><i>(only when you have the needed skills & resources)</i></label>
                </p>
                <div class="">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Create Account
                  </button>
                </div>
                <div class="">
                  <p align="center"><% include ../partials/flash %></p>
                </div>

              </form>
            </div>
          </div>
        </div>
      </main>
      <footer class="mdl-mini-footer">
          <% include ../partials/footer %>
      </footer>
    </div>
  </body>
</html>
